.main {
  width: 100%;
  /**position: relative;**/
  margin-top: 30px;
}

.consoleform {
  width: 800px;
  height: 35rem;
  margin: 0 auto;
  background-color: #404040;
  border-radius: 10px;
  overflow-y: auto;
}

.browser {
  
}

.inputform {
  width: 400px;
  margin: 20px auto;
}

.inputcmd {
  color: #51ff51;
  font-weight: bold;
  font-size: 1.2rem;
  width: 400px;
  height: 2rem;
  line-height: 10px;
  background-color: #575252;
  border: none;
  border-radius: 5px;
}