.error {
  color: #ff7f7f; 
}

.ok {
  color: #ffff38;
}

.log {
  color: #51ff51;
  font-size: 1.3rem;
  font-weight: 500;
  display: flex;
}

.time {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: 15rem;
}
