.wrapper {
  padding: 1rem;
}

.about {
  font-family: 'Noto Sans JP', sans-serif;
}

.about_title {
  background-color: #e5e5e5;
  font-size: 1.5rem;
  padding: 0.3rem;
}

.about_body {
  padding: 0.2rem;
  color: #484848;
  line-height: 1.7;
}

.nocenter {
  text-align: left;
}

.test {
  font-size: 2rem;
}