.browser {
    width: 80%;
    min-width: 960px;
    height: 60%;
    min-height: 600px;
    margin: 60px auto;
    background-color: whitesmoke;
    border-radius: 20px ;
}

.browser_body {
    background-color: orange;
    margin: 1rem;
}