.titlebar {
    background-color: #007fff;
    text-align: center;
    width: 100%;
    border-radius: 15px 15px 0px 0px ;
}

.titlebar_elem {
    display: inline-block;
}

.titlebar_title {
    color: mintcream;
    font-weight: bold;
    font-size: 1.7rem;
}

.titlebar_closebtn {
    width: 4%;
    font-size: 1.4rem;
    float: right;
    margin-top: 2px;
    margin-right: 10px;
    border-radius: 10px;

    transition-duration: 0.15s;
}

.titlebar_closebtn:hover {
    background-color: tomato;
}