.profileitem {
    display: flex;
    font-size: 1.1rem;
}

.profileItem_title {
    width: 8rem;
    padding: 0.2rem;
    background-color: lightgrey;
    border-radius: 2px;
}

.profileItem_body {
    width: 100%;
    height: 3.5rem;
    margin-left: 0.2rem;
    padding: 0.2rem;
    background-color: white;
    border-radius: 2px;
}