.profileitem {
    background-color: mintcream;
    border-radius: 5px;
    border: 2px solid #077fff;
}

.profileItem_header {
    display: flex;
    flex-direction: row;
}

.profileItem_header_title {
    padding: 0.2rem;
    color: mintcream;
    background-color: #007fff;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: bold;
    float: left;
}

.profileItem_body {
    font-size: 1.4rem;
    padding: 0.2rem;
    text-align: center;
}